body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    background: #000 url("../img/Layer.jpg") no-repeat top center;
}

a {
    color: inherit;
    text-decoration: none;

}

.link_map {
    text-decoration: underline
}

ul, .advantages_list {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    list-style: none;
}

h3 {
    font-size: 30px;
    line-height: 42px;

}

.btn {
    font: inherit;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
    background: #808080;
}

.title {
    display: none;
}

.nav_site {
    font-size: 16px;
    line-height: 20px;
    background-color: #000
}

.nav_site a:hover,
.nav_site a:focus {
    font-size: 16px;
    line-height: 20px;
    background-color: #808080;
}


.img_logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.advantages_title {
    display: none;
}

.columns {
    background-color: #fff;
    color: #000;
    background-image: url("../img/Layer 10 copy 4.png");
    background-position: 0 0;
    background-repeat: repeat;
}

.advantages_list {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.time {
    text-transform: none;
}

.img_intterior {
    border: 7px;
}

.user_form input {
    margin: 4px;
    font: inherit;
    background: transparent;
    border: 2px solid #000;
}

.user_form input:focus,
.user_form input:hover {
    border-color: #0000ff;
}

.img_intterior {
    border: 7px solid #a9a9a9;
}

.footer {
    background-color: #a9a9a9;
    background-image: url("../img/Layer 23.png");
    background-position: 0 0;
    background-repeat: repeat;
}

.socials {
    text-align: center;
}

.copyrite {
    text-align: center;
}

.copyriter_link:hover,
.copyriter_link:focus {
    color: black;
    background-color: #fff;
}

.modal {
    font: inherit;
    color: black;
    background-color: #fff;
    background-image: url("../img/Layer 10 copy 4.png");
    background-position: 0 0;
    background-repeat: repeat;
}

.login_form input {
    border: 2px solid black;
    background: transparent;
    text-transform: uppercase;
}

.login_form input:hover,
.login_form input:focus {
    border-color: #0000ff;
}

.login_form input[type="text"],
.login_form input[type="password"] {
    font: inherit;
    text-transform: uppercase;
    color: #000;
}

.link_remember {
    text-decoration: underline;
}

.map {
    font: inherit;
    color: black;
    background-color: #fff;
    background-image: url("../img/Layer 10 copy 4.png");
    background-position: 0 0;
    background-repeat: repeat;
}